<ion-header>
    <div class="close">
        <ion-icon (click)="closeModal()" name="close"></ion-icon>
    </div>
    <div class="icon">
        <ion-img src="../../../assets/bed.png"></ion-img>
    </div>
</ion-header>



<div class="debt">
    <div class="user">
        <p>Usuario</p>
        <ion-input placeholder="Enter Input"></ion-input>
    </div>
    <div class="contra">
        <p>Contraseña</p>
        <ion-input placeholder="Enter Input"></ion-input>
    </div>
</div>
<div class="button">
    <section class="action">
        <div class="btn"><a class="btn">Option 1</a></div>
    </section>
</div>