<ion-header style="--background-image: linear-gradient( 89.4deg,  rgba(194,0,39,1) 0.8%, rgba(10,35,104,1) 99.4% );">
    <div class="icon">
        <ion-img src="../../../assets/bed.png"></ion-img>
        <!--<ion-icon name="bed"></ion-icon>-->
        <!--<i class="fab fa-accessible-icon"></i>-->
        <!--<fa-icon [icon]="['fas', 'bed']" size="10x"></fa-icon>-->
    </div>
    <div class="info">
        <p>Habitación 1</p>
        <p>En uso</p>
        <p>Normal</p>
    </div>
    <ion-icon class="close" (click)="closeModal()" name="close"></ion-icon>
</ion-header>


<div class="debt">
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, tempore ab obcaecati, quod fuga debitis enim cum ea itaque laboriosam deleniti assumenda sunt doloremque, officiis laborum exercitationem similique. Reprehenderit, optio.
    </p>
</div>
<div class="button">
    <section class="action">
        <div class="btn"><a class="btn">Option 1</a></div>
        <div class="btn"><a class="btn">Option 2</a></div>
        <div class="btn"><a class="btn">Option 3</a></div>
    </section>
</div>