<ion-header class="header">
    <h1>User #123</h1>
    <a class="btn">Cerrar seción</a>
</ion-header>
<!--//////////////CONTENT///////////////////-->
<ion-content style="--background: #FDF6EC;">
    <div class="body">
        <div class="container">
            <div class="serviceBox">
                <div class="icon" (click)="presentModal()" style="--i:#4eb7ff">
                    <ion-icon name="person"></ion-icon>
                    <h2>Room 1</h2>
                </div>

            </div>
            <!--/////////////////////////////MODALES/////////////////////////////////////////////////-->

            <!--/////////////////////////////////////////////////-->
            <div class="serviceBox">
                <div class="icon" (click)="presentModal()" style="--i:#fd6494">
                    <ion-icon name="person">
                    </ion-icon>
                    <h2>Room 2</h2>
                </div>

            </div>
            <!--/////////////////////////////////////////////////-->
            <div class="serviceBox">
                <div class="icon" (click)="presentModal()" style="--i:#43f390">
                    <ion-icon name="people">
                    </ion-icon>
                    <h2>Room 3</h2>
                </div>

            </div>
            <!--/////////////////////////////////////////////////-->
            <div class="serviceBox">
                <div class="icon" (click)="presentModal()" style="--i:#ffb508">
                    <ion-icon name="nuclear">
                    </ion-icon>
                    <h2>Room 4</h2>
                </div>

            </div>
            <!--/////////////////////////////////////////////////-->
            <div class="serviceBox">
                <div class="icon" (click)="presentModal()" style="--i:#37ba82">
                    <ion-icon name="paw">
                    </ion-icon>
                    <h2>Room 5</h2>
                </div>

            </div>
            <!--/////////////////////////////////////////////////-->
            <div class="serviceBox">
                <div class="icon" (click)="presentModal()" style="--i:#cd57ff">
                    <ion-icon name="medkit"></ion-icon>
                    <h2>Room 6</h2>
                </div>

            </div>
            <!--/////////////////////////////////////////////////-->
        </div>
    </div>
</ion-content>